.poke{
    background-color: white;
    border-radius:30%;
}
.container-fluid{
        background-repeat: no-repeat;
        background-size:cover;
        background-attachment: fixed;
}
.button a{
    
    color:white;
    text-decoration:none;
}

.text-capitalize{
    color:black;
}

.button{
    width: 200px;
}

